<footer>

<div class="footer-container">
    <div class="footer-info">
        <h3>LexOra Associates</h3>
        <p>Professional legal services with integrity and dedication.</p>
    </div>
    <div class="footer-links">
        <h3>Quick Links</h3>
        <ul>
            <li><a href="index.html">Home</a></li>
            <li><a href="index.html#about">About</a></li>
            <li><a href="index.html#practice">Practice</a></li>
        </ul>
    </div>
    <div class="footer-contact">
        <h3>Contact</h3>
        <p>Email: contact@lexora.com</p>
        <p>Phone: +91 7876379427</p>
    </div>
</div>
</footer>
